<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .pagination {
            margin: 20px 0;
        }
        .pagination a {
            padding: 5px 12px;
            border: 1px solid #3ba9ff;
            text-decoration: none;
            margin: 5px;
        }
        .pagination a.active {
            background: #3ba9ff;
            color: white;
        }
    </style>
</head>
<body>

    <!--

        父组件
        子组件

            <div>
                <span></span>
            </div>
    -->

    <div id="app">

        <ul>
            <li v-for="user of users" :key="user.id">
                {{user.name}}
            </li>
        </ul>

        <!--如果属性没有使用v-bind，那么传入的值就只有字符串-->
        <k-pagination :pages="10" :page="6"></k-pagination>

        <k-pagination :pages="8" :page="3"></k-pagination>


    </div>

    <script src="./js/vue.js"></script>
    <script>

        /*
        * 组件内部的一些内容会动态变化
        * */
        Vue.component('k-pagination', {
            props: ['pages', 'page'],   //组件内部是就可以通过this来直接访问props中的数据，类似data中的数据一样
            template: `
                <div class="pagination">
                    <a href="">上一页</a>
                    <a href="" v-for="p of pages" :class="{'active': p === page}">{{p}}</a>
                    <a href="">下一页</a>
                </div>
            `
        });

        let app = new Vue({
            el: '#app',
            data: {
                users: [
                    {id: 1, name: '莫涛'},
                    {id: 2, name: '大海'},
                    {id: 3, name: '紫薯'},
                    {id: 4, name: '宝哥'},
                    {id: 5, name: '小姐姐'},
                    {id: 6, name: '央央'},
                    {id: 7, name: 'licas'},
                ]
            }
        });


    </script>

</body>
</html>