body {
    margin: 0;
}
.app {
    margin: 0 auto;
    width: 800px;
    min-height: 100px;
    border: 1px solid #000;
}

:global(.box) {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 50%;
}