<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="http://localhost:4000/temp" id="feed"></script>
  <link rel="stylesheet" href="/css/login.css" />
  <title>Document</title>
</head>

<body>
  <div class="loginContainer">
    <h1>登录</h1>
    <form method="post">姓名：
      <input class="inputStyle" type="text" name="username" /><br />密码：
      <input class="inputStyle" type="password" name="pwd" /><br />
      <input class="loginStyle" type="button" value="登录" />
      <input class="loginStyle" type="button" value="注册" />
    </form>
  </div>
</body>
</html>
<script>
  let btns = document.querySelectorAll('.loginStyle') // 按钮
  let loginBtn = btns[0] // 返回登录页按钮
  let regBtn = btns[1] // 注册登录页按钮

  let inputs = document.querySelectorAll('.inputStyle') // 表单输入框
  let username = inputs[0] // 用户名
  let pwd = inputs[1] // 密码

  regBtn.onclick = function() {
      location.href = 'register.html'
  }

  loginBtn.onclick = function() {
      let xhr = new XMLHttpRequest()
      xhr.open('post', 'http://localhost:4000/login', true)
      xhr.setRequestHeader('Content-Type', 'application/json')
      xhr.withCredentials = true
      let data = JSON.stringify({
          username: username.value,
          password: pwd.value
      })
      xhr.send(data)
      xhr.onload = function() {
          console.log(xhr.responseText)
          if(!xhr.responseText.status) {
              location.href = `photo.html?username=${username.value}`
          }
      }
  }

  xmlDate()

  function xmlDate(){
      let xhr = new XMLHttpRequest();
      xhr.open("get","http://localhost:4000/temp.xml",true);
      xhr.overrideMimeType("text/xml");      // 返还头；

      xhr.onload = function(){
          console.log(xhr.readyState)
          console.log(xhr.status)
          console.log(xhr.responseXML);
      }
      // 请求头
      xhr.send();
  }

</script>