<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/photo.css">
</head>

<body>
    <!-- 展示相关 -->
    <div class="container">
        <div class="photoHeader">
            <div class="imgContainer">
                <img class="photoName" src="img/1.jpg" />
            </div>
            <div class="btnContainer">
                <span class="photoTitle">相册名称</span>
                <button class="mybtn">上传照片</button>
            </div>
        </div>

        <div class="photoContainer">
            <div class="photoItem">
                <img src="img/1.jpg" />
                <span>
                    home
                </span>
            </div>
        </div>
    </div>
    <!-- 上传相关 -->
    <div class="masking">
        <div class="addPhotoContainer"></div>
        <div class="addController">
            <h3 class="addTitle">上传照片-普通上传(H5)<span class="close">╳</span></h3>
            <div class="photoTitles">
                <span class="uploadTo">上传到</span>
                <div class="photoSelect">
                    <img class="showPhoto" src="img/1.jpg" />
                    相册名称
                </div>
            </div>

            <!-- 上传按钮 -->
            <div class="showContainer">
                <div class="uploadContainer">
                    <span class="fileinput-button">
                        <span>上传图片</span>
                        <input class="imgFile" type="file" name="" multiple="multiple" />
                    </span>
                    <span class="hint">
                        按住Ctrl可多选
                    </span>
                </div>
            </div>

            <!-- 显示待上传图片  -->
            <div class="loadContainer">
                <div class="wantUpload">
                    <!-- <div class="uploadPhotoItem">
                        <span class="myProgress">
                            <span class="plan"></span>
                            30%
                        </span>
                        <img src="img/1.jpg" />
                        <span class="pictureName">
                            home
                        </span>
                    </div> -->
                </div>
                <div class="addStyle">
                    <span class="fileinput-add">
                        <span></span>
                        <input class="imgFile-add" type="file" multiple="multiple" />
                    </span>
                </div>
                <!-- 开始上传按钮 -->
                <div class="bottomStyle">
                    <span class="uploadBtn">开始上传</span>
                </div>
            </div>

        </div>
    </div>
</body>
<script>
    test()
    function test() {
        let xhr = new XMLHttpRequest()
        xhr.open('post', 'http://localhost:4000/test', true)
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send()
        xhr.onload = function(res){
            console.log(res)
        }
    }
    const username = location.search.substr(1).split('=')[1]
    console.log(username)
    const mybtn = document.querySelector('.mybtn')
    const close = document.querySelector('.close')
    const masking = document.querySelector('.masking')
    let uploadArr = []

    mybtn.onclick = function() {
        masking.style.display = 'block'
    }

    close.onclick = function() {
        masking.style.display = 'none'
    }

    // 添加图片
    document.querySelector('.imgFile').onchange = function() {
        document.querySelector('.showContainer').style.display = 'none'
        document.querySelector('.loadContainer').style.display = 'block'
        ;[...this.files].forEach(file => {
            let uploadObj = new UploadImg(file)
            uploadArr.push(uploadObj)
            uploadObj.createHtml()
            console.log(uploadArr)
        })
    }

    // 继续添加
    document.querySelector('.imgFile-add').onchange = function() {
        ;[...this.files].forEach(file => {
            let uploadObj = new UploadImg(file)
            uploadArr.push(uploadObj)
            uploadObj.createHtml()
            console.log(uploadArr)
        })
    }

    class UploadImg{
        constructor(file) {
            this.file = file
            this.el = null
        }

        createHtml() {
            // 文件转换成base64
            let fileReader = new FileReader()
            fileReader.readAsDataURL(this.file)
            fileReader.onload = () => {
                let uploadDiv = document.createElement('div')
                uploadDiv.classList.add('uploadPhotoItem')
                uploadDiv.innerHTML = `
                    <span class="myProgress">
                        <span class="plan"></span>
                        0%
                    </span>
                    <img src="${fileReader.result}" />
                    <span class="pictureName">
                        ${this.file.name}
                    </span>
                `
                document.querySelector('.wantUpload').appendChild(uploadDiv)
                this.el = uploadDiv
            }
        }
    }

    // class Peron{
    //     // 属于实力化对象的；
    //     fn(){

    //     }
    //     // 静态方法 属于 类的
    //     static foo(){

    //     }
    // }

    // 练习： 1.实现文件转存和路径保存； 2.区分用户（每个用户有自己的图片，连接表查询）；


</script>

</html>